h2{
    color: rgb(215, 228, 22);
    margin: auto;
    font-size: 80px;
}

.two-player {
    display: flex;
    justify-content: center;
}

.second-player {
    display: none;
}

.first-player.visible {
    display: flex;
}

.second-player.visible {
    display: flex;
}

.overlay-text.one {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.player-one-card,
.player-two-card {
    position: relative;
    height: 175px;
    width: 125px;
}

.player-one-card.visible .card-back {
    transform: rotateY(-180deg);
}

.player-one-card.visible .card-front {
    transform: rotateY(0);
}

.player-one-card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.player-two-card.visible .card-back {
    transform: rotateY(-180deg);
}

.player-two-card.visible .card-front {
    transform: rotateY(0);
}

.player-two-card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.result{
    
    font-size: 80px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
}

h3 {
    font-size: 35px;
    color: rgb(226, 118, 125);
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

