.two-player {
    display: flex;
    justify-content: center;
}

.second-player {
    display: none;
}

.first-player.visible {
    display: flex;

}

.second-player.visible {

    display: flex;
}


.right-container {
    display: none;
}

.left-container {
    display: flex;
}

.overlay-text.one {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

.player-one-card,
.player-two-card {
    position: relative;
    height: 175px;
    width: 125px;
}

.player-one-card.visible .card-back {
    transform: rotateY(-180deg);
}

.player-one-card.visible .card-front {
    transform: rotateY(0);
}

.player-one-card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}

.player-two-card.visible .card-back {
    transform: rotateY(-180deg);
}

.player-two-card.visible .card-front {
    transform: rotateY(0);
}

.player-two-card.matched .card-front .card-value {
    animation: dance 1s linear infinite 500ms;
}




/* .overlay-text.two {
    display: none;
    animation: overlay-grow 500ms forwards;
}  */

h3 {
    font-size: 35px;
    color: rgb(226, 118, 125);
}


