*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

img {
    width: 150px;
    height: 200px;
}

.memory-game{
    width: 600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* perspective: 1000px; */
}

.game-image{
    width: calc(25%  - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

.game-image:active{
    transform: scale(.97);
    transition: transform .2s;
}

.game-image:hover {
    cursor: pointer;
    /* transform: rotateY(180deg); */
    /* transform: rotateZ(180deg); */

}

.game-image.flip{
    transform: rotateY(180deg);
    /* -webkit-transform: scale(-1);
    transform: scaleX(-1); */
}

.top-image {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 4px solid deeppink;
    border-radius: 15px;
    position: absolute;
    background: purple;
    backface-visibility: hidden;
}

.bottom-image{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 4px solid deeppink;
    border-radius: 15px;
    position: absolute;
    background: rgb(49, 200, 77);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

